<!-- start custom footer snippets -->

<!-- <a href="/sitemap/">Sitemap</a> -->
<!--
<a href='https://clustrmaps.com/site/1bl42' target="_blank" title='Visit tracker'>
    <img src='//clustrmaps.com/map_v2.png?cl=ffffff&w=70&t=n&d=lvRWQUJqUc27efozLR1X8IT7J-rG9ZDMflPoj3SMr-I&co=2d78ad&ct=ffffff'/>
</a>
-->

<script type='text/javascript' id='mapmyvisitors' src='https://mapmyvisitors.com/map.js?cl=ffffff&w=a&t=n&d=smw8huyizaaCcZLFqTRcY6aemG0-pG5csV6l8rxWjRA'>
</script>

<!-- end custom footer snippets -->
